<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a class="navbar-brand" href="#">The Tech Blogger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="card mx-auto mt-4" style="width:800px; border: 1px solid black;" id="cards">
    <div class="card-header" style="text-align: center; background-color:rgba(10, 56, 209, 0.35);">
        <h3>Login</h3>
    </div>
    <form class="card-body mx-auto login-form">
        <p class="card-text">
        <h5>Email:</h5>
        </p>
        <input type="text" class="d-flex mb-2" placeholder=" Enter Email" id="email-login" autocomplete="on">
        <p class="card-text" id="">
        <h5>Password:</h5>
        </p>
        <input type="password" class="d-flex mb-2" placeholder=" Enter Password" id="password-login" autocomplete="on">
        <button class="btn btn-primary login-form" id="login-form">Login</button>

    </form>
</div>
<div class="mx-auto mt-4" style="width: 300px; text-align: center;">
    <h2 style="color:white;">Current Posts</h2>
</div>{{#each posts as |post|}}
<div class="card mx-auto mt-4" style="width:800px; border: 1px solid black; ;" id="cards">
    <div class="card-header d-flex justify-content-between" style="background-color:rgba(10, 56, 209, 0.35);">

        <h5>Post Title: {{this.title}}</h5>
        <h5 style="float: right; font-style: italic">Posted by: {{this.user.username}} on {{format_date
            this.created_at}}
        </h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{this.postText}}</p>
    </div>
    <div class="card-body">{{#each comments as |comment|}}
        <h5 class="card-text" style="font-style: italic">Comment by: {{this.user.username}}</h5>
        <p class="card-text">- {{this.comment_text}}</p>
        {{/each}}
    </div>


</div>
<br>
{{/each}}

<footer id="footer" class="page-footer font-small badge-dark pt-4 position:fixed; bottom:0;">
    <form class="container sign-upBtn">
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-outline-white btn-rounded btn-primary sign-upBtn" id="sign-up">Sign up!</button>
            </li>
        </ul>
    </form>
    <div class="footer-copyright text-center py-3 ">© 2021 Copyright:
        <a href="#"> thetechblogger.com</a>
    </div>
</footer>

<div class="bs-example">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information Needed</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please enter a valid email and password</p>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>